In [7]:
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
df = pd.read_csv('C:/Users/mohan/OneDrive/Desktop/projects/covid19.csv')

In [8]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   99.975022         0   36          1          -1              1
1   98.619817         1   97          0          -1              0
2   99.341953         0   86          0           0              0
3   99.829702         1   72          0          -1              0
4  100.587649         1   72          0           0              1

In [9]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2994   99.906220         1   35          0          -1              0
2995  100.705150         1   43          1           1              1
2996   98.267363         0   78          0           1              0
2997  100.124727         0   41          0           0              0
2998   99.676689         0   96          1           0              1

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 6 columns):
fever            2999 non-null float64
bodyPain         2999 non-null int64
age              2999 non-null int64
runnyNose        2999 non-null int64
diffBreath       2999 non-null int64
infectionProb    2999 non-null int64
dtypes: float64(1), int64(5)
memory usage: 140.7 KB

In [11]:
df['diffBreath'].value_counts()   #valuecounts is for series that means on particular column. not on dataframe

 0    1024
-1     998
 1     977
Name: diffBreath, dtype: int64

In [12]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000
mean,100.005142,0.494832,62.553518,0.506502,-0.007002,0.495165
std,1.168960,0.500057,21.845699,0.500041,0.811618,0.500060
min,98.002018,0.000000,25.000000,0.000000,-1.000000,0.000000
25%,98.976500,0.000000,43.000000,0.000000,-1.000000,0.000000
50%,100.014125,0.000000,62.000000,1.000000,0.000000,0.000000
75%,101.016642,1.000000,82.000000,1.000000,1.000000,1.000000
max,101.999335,1.000000,100.000000,1.000000,1.000000,1.000000

## Train-test splitting

In [13]:
import numpy as np

In [14]:
def data_split(data,ratio):
    np.random.seed(45)  #If you set the np.random.seed(a_fixed_number) every time you call the numpy's other random function, the result will be the same:
    shuffled_array = np.random.permutation(len(data))  #generate list of random no's , range -> len(data)    , size -> len(Data)
    test_array_size = int(len(data)*ratio)
    test_indices = shuffled_array[:test_array_size]
    train_indices = shuffled_array[test_array_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [15]:
train_data,test_data = data_split(df,0.2)

In [16]:
train_data

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1609   98.838625         0   69          1          -1              1
2257  101.561799         1   63          0           1              1
945    98.430060         0   68          0           1              1
1826  101.754837         1   73          0           1              0
2726  100.429909         0   70          1          -1              0
...          ...       ...  ...        ...         ...            ...
163   100.083969         0   69          0          -1              1
607   101.259291         0   78          1           1              1
1916  101.032888         0   68          0           0              0
1667  101.656070         0   37          0           0              1
2462   99.799201         0   69          0           1              1

[2400 rows x 6 columns]

In [17]:
test_data

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
63     98.482728         0   51          1          -1              1
833    99.148655         0   90          1          -1              1
641   101.420295         1   61          0           1              0
594    99.790185         0   36          1           1              1
780   100.966723         0   41          1           0              1
...          ...       ...  ...        ...         ...            ...
2699  100.999906         1   34          0           0              1
1143   99.061811         1   37          1           1              0
2338   99.736425         1   25          1          -1              0
2222  101.925306         1   94          1           1              0
2327   99.943206         1   49          0           1              1

[599 rows x 6 columns]

In [18]:
x_train = train_data[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
x_test = test_data[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [19]:
len(train_data)

2400

In [20]:
    y_train = train_data[['infectionProb']].to_numpy().reshape(len(train_data),) #sklearn says,y_train should be in size of train data & commna->.reshape(2400,)
    y_test = test_data[['infectionProb']].to_numpy().reshape(len(test_data),)

In [21]:
y_train

array([1, 1, 1, ..., 0, 1, 1], dtype=int64)

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
clf = LogisticRegression()
clf.fit(x_train,y_train)

C:\Users\mohan\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [26]:
input_features = [100,1,22,-1,1]
infProb= clf.predict_proba([input_features])

In [27]:
infProb

array([[0.47945127, 0.52054873]])